<div>
<h5>Scan Bottle to Delete Bottle</h5>
</div>


<div class="container">
      <div class="row">
        <div class="col s12">
          <p>&nbsp;</p>
          <%= render 'form', scan_action: "destroy", scan_method: "delete"%>

          <%= yield %>

        </div>
      </div>
    
</div>