<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">

  <br />
  <div id="copy">
    Webmaster: <%= mail_to("abc@cmu.edu", "student", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2018
  </div>

</div>