<nav class="nav-extended">

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><%= link_to 'Patients', patients_path %></li>
      </ul>
    </div>


</nav>