<nav class="nav-extended">

    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><%= link_to 'Verify',  new_verification_path %></li>
        <li class="tab"><%= link_to 'Patients', patients_path %></li>
        <li class="tab"><%= link_to 'Bottles', new_bottle_path %></li>
      </ul>
    </div>


</nav>