<% if logged_in? %>
   
<nav id="nav">
    <ul class="left hide-on-med-and-down">
        <li class="tab"><%= link_to 'Verify',  new_verification_path %></li>
        <li><%= link_to 'Patients', patients_path %></li>
        <li><%= link_to 'Bottles', bottles_path %></li>
        <% if can? :edit, Bottle %>
        <li><%= link_to 'Edit Bottle', scan_bottle_edit_path %></li>
        <% end %>
    </ul>
</nav>
<% end %>


