<div>
<h5>Hang on...</h5>
</div>
<div>
<h6>Do you wish to delete this bottle with ID <%= "#{@bottle.id}"%>? This bottle is not expired yet.</h6>
</div>
<div class="container">
      <div class="row">
        <div class="col s12">
          <p>&nbsp;</p>
          <%= render 'form', bottle: @bottle, isNew: false, scan_action: "destroy", scan_method: "delete"%>
          <%= yield %>

        </div>
      </div>
    
</div>