<div>
<h5>Scan Patient Barcode to Find Patient</h5>
</div>

<div class="container">
      <div class="row">
        <div class="col s12">
          <p>&nbsp;</p>
          <%= render 'form', scan_action: "find", scan_method: "patch"%>

          <%= yield %>

        </div>
      </div>
    
</div>