<div class="row">
     <div class="col s4">
      <%= render "patient_card" %>
    </div>
    <%= render "all_bottles" %>
      <% if not @expired_bottles.empty?%>
        <%= render "expire_bottle" %>
      <% end %>
</div>
<div>
  <%= render :partial => "partials/object", locals: {model_name: "patient", object: @patient} %>
</div>
&nbsp;&nbsp; 
