html {
  // Preloaded with three fonts; uncomment the one you prefer
  // font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Georgia', serif;
}
#topbar {
    background-color: #d4ebf2;
    padding-top: 5px;
    margin-bottom: 0px;
    color: black;
  }
  
  #nav {
    height: 65px;
  }
  
  #nav ul a {
    color: white;
    font-size: 1.2rem;
  }

  #footer {
    background-color: #d4ebf2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: white;
    line-height: 2rem;
    display: flex;
    min-height: 35vh;
    flex-direction: column;
    flex: 1 0 auto;
  
  }
 
  #form-inputs {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px;
  }

  #flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
    color: #008000;
  }

  #flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
    color: #800000;
  }
/********** FLASH MSGs ********/
  .alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.8125rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #FFFFFF; 
  } 
  .alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; 
  }
  .alert-box .close:hover, .alert-box .close:focus {
     opacity: 0.5; 
  }
  .alert-box.radius {
    border-radius: 3px; 
  }
  .alert-box.round {
    border-radius: 1000px; 
  }
  .alert-box.success {
    background-color: #e8f5e9;
    border-color: #a5d6a7;
    color: #1b5e20; 
  }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; 
  }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; 
  }
  .alert-box.warning {
    background-color: #fff3e0;
    border-color: #ffcc80;
    color: #ef6c00; 
  }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; 
  }
  .alert-box.alert-close {
    opacity: 0; 
  }

/********** TABLES ********/
table.striped > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

table.striped > tbody > tr:nth-child(even) {
  background-color: #fffde7;
}

table.highlight > tbody > tr:hover {
  background-color: #fff59d;
}

td.align_right {
  text-align: right;
}

td.align_center {
  text-align: center;
}

th.align_right {
  text-align: right;
}

th.align_center {
  text-align: center;
}
/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #ffea00;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #ffd600;
}

.picker__date-display {
  background-color: #ffd600;
  color: #000;
}

.picker__year-display {
  color: #000;
}

input[type=text].search {
  border-bottom: none;
  margin-left: 10px;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  border-radius: 50%;
  transform: scale(0.9);
  background-color: #ffd600;
  color: #000;
}

.check_boxes.optional.filled-in {
  background-color: #ffd600;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #008CBA;
  background-color: #008CBA;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #008CBA;
  background-color: #008CBA;
}




     